In [2]:
import pandas as pd

df = pd.read_csv('matrice_distanze.csv')
df.rename(columns={'Unnamed: 0': 'CODICE_PAL'}, inplace=True)
df = df[df['CODICE_PAL'] == 'AB0109']
df

,CODICE_PAL,AB0109,AB0110,AB0894,AD0183,AD0241,AD0265,AD0274,AD0275,AD0278,...,ZI1007,ZI1008,ZI1009,ZI1010,ZI1011,ZI1012,ZI1013,ZI1014,ZI1015,ZU0532
0,AB0109,0.0,399.664982,568.101794,5949.504552,5612.555468,4443.398034,4924.020187,4694.956679,5145.673045,...,16896.30027,17441.347298,15613.330563,15975.985726,17818.270232,17077.812749,15625.562053,13160.016659,11684.06524,5281.491663